.PictureSelectionContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f1e3;
    max-height: 100vh;
  }
  /* now */
  .title {
    font-size: 2.5rem;
    color: #c85a5a;
    margin-bottom: 2rem;
  }
  
  .pictureList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    overflow-x: auto; /* Permet le scroll horizontal */
    height: 43rem;
    scrollbar-width:none; 
  }
  
  .pictureRow {
    display: flex;
    flex-wrap: nowrap; /* Les images ne passent pas à la ligne suivante */
    gap: 1rem;
  }
  
  .picture {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .picture:hover {
    transform: scale(1.02);
  }
  
  .containerEnlarged {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  
  .enlargedPicture {
    max-width: 80%;
    max-height: 80%;
  }

/* Message d'erreur */
.error {
  font-size: 1.5rem;
  color: red;
  text-align: center;
}

/* Message de chargement */
.loading {
  font-size: 1.5rem;
  color: #444;
  text-align: center;
}

.pictureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxLabel {
  margin-top: 5px;
}

.validateButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.validateButton:hover {
  background-color: #0056b3;
}

.addButton, .removeButton {
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.addButton {
  background-color: #E9B1A2;
  color: white;
}

.removeButton {
  background-color: #dc3545;
  color: white;
}

.cart {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
.cart ul {
  display: flex;
}
.cart li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
}

.cartThumbnail {
  width: 50px;
  list-style: none;
  height: 50px;
  object-fit: cover;
}

.validateButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}